*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    overflow-x: hidden;
    
}

.plus-jakarta-sans-200 {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .plus-jakarta-sans-400 {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .plus-jakarta-sans-600 {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .plus-jakarta-sans-800 {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }



.container-custom{
    width: 55%;
    margin: auto;
}

.container-custom .hero{
    background-image: url('../images/promotion-franchise/hero-franchise.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    padding-bottom: 265px;
    width: 100%;
}

.rating__section{
    margin-top: 4rem;
  }

  .rating__section .rating__header{
    color: #000;
    font-size: 2rem !important;
    font-weight: 600;
  }

  .rating__section .rating__point{
    color: #000;
    font-size: 8.5rem;
  }

  .rating__section .rating__point svg{
    width: auto;
    height: 50%;
    color: #FFBB00;
  }

  .rating__section .rating__place{
    color: #000;
    font-size: 2rem;
    font-weight: 600;
  }

  .rating__section .rating__sub{
    color: #000;
    font-size: 1rem;
  }

.hero img{
    width: 40%;
    height: auto;
    z-index: 1;
}

.hero h1{
    width:70%;
    color: #fff;
    font-size: 3rem !important;
}

.oval-text {
    position: relative;
    display: inline-block;
    max-width: fit-content;
    max-height: 175px;
    border-radius: 50%;
    border: 4px solid #00D0FF;
    padding: 10px;
    color: #fff;
    animation: fadeInOut 2s linear infinite;
    font-size: 22px;
  }

  @keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
  }

.feature-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 7rem;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #fff;
}

.icon {
    width: 18px !important;
    height: 20px !important;
}


.highlight {
    color: #fff; 
}

.review-image{
    background-image: url('../images/promotion-car/dinda-kirana.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    width: 75%;
    border-radius: 30px;
}

.review-image-2{
    background-image: url('../images/promotion-car/jessica-iskandar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    width: 75%;
    border-radius: 30px;
}

.review-image .title{
    position: absolute;
    bottom: 8px;
    left: 60px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.review-image-2 .title{
    position: absolute;
    bottom: 8px;
    left: 70px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.review-image .subtitle{
    position: absolute;
    bottom: 5px;
    left: 60px;
    transform: translate(-50%, -50%);
    color: #ffffff71;
    font-size: 12px;
}
.review-image-2 .subtitle{
    position: absolute;
    bottom: 5px;
    left: 65px;
    transform: translate(-50%, -50%);
    color: #ffffff71;
    font-size: 14px;
}

.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.center-image .review-text{
    color: #000;
    margin-top: 3rem;
    font-size: 16px;
    width: 75%;
}

.star-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Jarak antar bintang */
    position: absolute;
    bottom: -10px;
    left: 90px;
}

.image-star {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px; /* Jarak antar bintang */
}

.tokopedia-review img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 40px 40px 0 0;
}
.tokopedia-review .review-logo{
    width: 90%;
    height: auto;
}

.tokopedia-review .phone-hold-image{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventage img{
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 15px 30px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 30px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 30px -1px rgba(0,0,0,0.5);
}

.adventage h4{
    margin-top: 45px;
    margin-bottom: 20px;
}

.adventage p{
    margin: 3rem 0;
}

.features img{
    width: 80%;
    height: auto;
}

.feature-box {
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
    text-align: center;
    height: 100%;
    -webkit-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
    box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
}
.feature-box img {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}
.border-custom {
    border: 1px solid #38C0FF;
}

.container-features {
    background-color: #38c0ff36;
    border-radius: 15px;
    border:1px solid #38C0FF; /* Border radius hanya di sudut row */
    overflow: hidden; /* Mencegah anak elemen merusak border-radius */
    padding: 15px;
}

.features p{
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.free-home-service{
    margin-top: 6rem;
}

.free-home-service .content-home-service{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.free-home-service .content-home-service img{
    width: 95px;
    height: 95px;
    margin: 0 10px;
}

.free-home-service .content-home-service h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 0px;
}

.free-home-service-button{
    text-align: center;
}

.free-home-service-button button{
    border-radius: 50px;
    text-align: center;
    justify-items: center;
    background-color: #2C2C2B !important;
    border: none;
    font-size: 28px;
}

.free-home-service-button span{
    background-color: #101010;
}

.free-home-service img{
    width: 100px;
    height: 100px;
}

.promo-container {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 100em;
    margin: 20px auto;
    position: relative;
}
.promo-header {
    font-weight: bold;
    font-size: 3rem;
}
.promo-subtext {
    background-color: #2C2C2B;
    color: white;
    padding: 10px 16px;
    border-radius: 30px;
    display: inline-block;
    font-size: 28px;
    white-space: nowrap;
    -webkit-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
    box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);

}

.underline-promo {
    width: 38%;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 60%;
    bottom: 25px;
}

.highlight-border{
    background-color: #101010;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    color:white;
}

.highlight-text {
    color: #00ff00;
    font-weight: bold;

}

.icon {
    font-size: 1.8rem;
    margin-right: 8px;
}

.warranty{
    background-image: url('../images/promotion-car/warranty-background.png');
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 0 30px 30px;
}

.warranty .text-warranty{
    width: 80%;
    margin-left: 60px;
    padding-top: 60px;
    padding-right: 200px;
    color: #fff;
}

.warranty .text-warranty h1{
    font-size: 48px;
}

.warranty .text-warranty p{
    margin-top: 3rem;
}

.slot-section{
    margin: 4rem 0;
}

.slot-section .slot-title{
    font-size: 48px !important;
}

.slot-section .slot-subtitle{
    font-size: 40px !important;
    white-space: nowrap;
}

.slot-section .slot-desc{
    font-size: 20px;
}

.slot-section .blue-text{
    color: #00D0FF;
}

.slot-section .slot-remaining{
    font-size: 90px;
    font-weight: bold;
}

.slot-section .slot-remaining-subtitle{
    font-size: 24px;
    font-weight: bold;
}

.slot-section .slot-line{
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 3rem;
}

.price-spesification h1{
    text-align: center;
    margin-bottom: 2rem;
}

.price-spesification img{
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.promo-form {
    background: black;
    color: white;
    padding: 60px;
    margin-top: 4rem;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.blue-line{
    color: #00D0FF!important;
    height: 2px !important;
    opacity: 1;
}

.promo-form h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.promo-form h1, .promo-form hr{
    width: 80%;
}

.promo-form input, .promo-form textarea {
    background: #d9d9d911;
    color: white;
    border: none;
}
.promo-form input::placeholder {
    color: #aaa;
}
.promo-form button {
    background: #28a745;
    color: white;
    width: 100%;
}


.faq__section{
    margin-top: 4rem;
  }

  .faq__section h1{
    width: 75%;
    font-size: 2rem;
    color: #000;
  }

  
  .faq__section p{
    font-size: 1.1rem;
    width: 100%;
    margin-top: 2rem;
    color: #000;
  }

  .custom-accordion .accordion-item {
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .custom-accordion .accordion-button {
    background: none;
    font-size: 1.5rem;
    color: #070707;
    padding-left: 0;
    box-shadow: none;
    position: relative;
  }

  .custom-accordion .accordion-button::after {
    content: ""; /* Hapus ikon default */
  }

  .custom-accordion .accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "-";
    position: absolute;
    right: 0;
    font-size: 1.5rem;
  }

  .custom-accordion .accordion-button.collapsed::after {
    content: "+";
    background-image: none !important;

    position: absolute;
    right: 0;
    font-size: 1.5rem;
    color: #003d73;
  }

  .custom-accordion .accordion-body {
    padding-left: 0 !important;
    font-size: 0.9rem;
    color: #555;
  }

  .custom-accordion .accordion-button span{
    width: 75%;
    font-size: 1rem !important;
    font-weight: bold;
  }

  .whatsapp-button {
    position: fixed;
    right: 0;
    top: 50%;
    /* transform: translateY(-50%); */
    /* background-color: #25D366; */
    color: white;
    /* padding: 10px 15px; */
    border-radius: 30px;
    display: flex
;
    /* align-items: end; */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    justify-content: flex-end;
}

.whatsapp-button img {
    width: 50%;
    height: auto;
}

.blue-gradient {
    background: rgb(70,195,255);
    background: linear-gradient(90deg, rgba(70,195,255,1) 50%, rgba(0,46,110,1) 100%);
    color: white !important;
    border: none !important;
    padding: 12px 16px;
    border-radius: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.bullet {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 12px;
}